
a:link{
    color:#fff

}
a:visited{
    color:goldenrod;
}
a:hover{
    color:red;
}
/* a:active{
    color:white;
} */
*
a
{
    color: black;
    border-color: aqua;
    font-size: 18px;
    
}
.header{
    height: 600px;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/school\ 123.jpg);
    background-size:cover ;
    background-position:center ;
    background-attachment: fixed;
    text-align: center;
    color: gold;

}
 img
{
    width:170px;
    height: auto;
    float:left;
    margin-left: -100px;
}
.head{
    height: 600px;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/profile\ img.jpg);
    background-size:cover ;
    background-position:center ;
    background-attachment: fixed;
    text-align: center;
    color: gold;

}
.sack
{
    height: 220px;
    width: 100%;
    background-color:darkgoldenrod;
    color: black;
}
.contact{
    height: 600px;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/contact\ images\ 1.jpg);
    background-size:cover ;
    background-position:center ;
    background-attachment: fixed;
    text-align: center;
    color: gold;
}
.syllabous{
    height: 600px;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/syllabous\ 2.jpg);
    background-size:cover ;
    background-position:center ;
    background-attachment: fixed;
    text-align: center;
    color: gold;
}
.gallery{
    height: 600px;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/gallery\ 1.jpeg);
    background-size:cover ;
    background-position:center ;
    background-attachment: fixed;
    text-align: center;
    color: gold;
}
.icon
{
    margin-left: 20px;
    max-width: 30px;
    margin-right: 10px;
}
.srg
{
    border: 1px solid gray;
    height: 400px;
    width: 100%;
    background-color:cadetblue;
    color:black ;
}
.abc
{
    height: 400px;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/gallery\ bg.jpg);
    background-size:cover ;
    background-position:center ;
    background-attachment: fixed;
    text-align: center;
    color: gold;
}
.spa {
    background-color: black;
    color: white;
    height: 10%;
    width: 10%;
    border-radius: 50%;
}